# Base Network RPC URLs
BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

# Basescan API Key (for contract verification)
BASESCAN_API_KEY=your_api_key

# Private Key (for deployment)
PRIVATE_KEY=your_private_key

# Gas Reporter
REPORT_GAS=true
COINMARKETCAP_API_KEY=your_coinmarketcap_api_key

# VMF Token Contract Address on Base
VMF_TOKEN_ADDRESS=0x2213414893259b0C48066Acd1763e7fbA97859E5 